* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: wildworld;
    src: url(../WILD\ WORLD.otf);
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #b3e140;
    height: 100vh;
    width: 100vw;
}

.our-nav {
    display: flex;
    position: fixed;
    top: 1vh;
    right: 2vw;
    left: 2vw;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.list-flex {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-family: sans-serif;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
    text-shadow: 1px 1px red;
}

.our-logo {
    width: clamp(70px, 5vw, 120px);
    border-radius: 20%;
    animation: scaleUp 1s infinite alternate;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }

}

.paragraph-flex {
    width: 50vw;
    padding-left: 3vw;
}

.header-styling {
    line-height: 1.1;
    font-size: 5em;
    color: black;
    width: 100%;
    font-family: wildworld, sans-serif;
    left: 4vw;

}

.paragraph-styling {
    font-size: 1.5rem;
    color: black;
    width: 100%;
    font-family: sans-serif;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.button {
    background-color: #d7ff71;
    border: none;
    border-radius: 20px;
    height: 5vh;
    width: 8vw;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    opacity: 80%;
    color: red;
    text-shadow: 2px 2px rgb(251, 252, 251);
    font-size: 20px;
    background-color: white;
}

.our-image {
    width: 50vw;
    height: auto;
}